body {
  font-family: Arial;
  background-color: lightblue;
}
p {
  font-size: 30px;
}
a {
  font-size: 30px;
}

.square {
  height: 200px;
  width: 200px;
  background-color: lightgreen;
  border:4px solid black;
}

.x::before,
.x::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 128px;
  height: 12px;
  background: black;
  transform-origin: center;
}
.x::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.x::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.o {
  position: absolute;
  width: 128px;
  height: 128px;
  border: 12px solid black;
  border-radius: 50%;
  top: 36px;
  left: 36px;
  box-sizing: border-box;
}